body
{
    background-color: lime;
}

#score
{
    float: left;
}

#timer, #show_sketch 
{
    float: right;
}

b
{
    font-size: 25;
}

h1
{
    color: rgb(255,225, 25);
    background-color: cornsilk;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from{box-shadow: 1px 1px 38px olivedrab;}
    to { box-shadow: 9px 9px 38px red;}
}

p
{
    padding-top: 10px;
    font-size: 25;
}

